.main-bg{
  height: 300px;
  background-image: url(./assets/react.svg);
  background-repeat: no-repeat;
  background-position:  center center;
  background-color: #ccc;
  background-size: contain;
}

.row h4 , .row p{
  text-align: center;
}

.start {
  opacity: 0;
}

.start.end{
  opacity: 1;
  transition: all .3s ease-in-out;
}